# Rust
/target
rust_verify_test/target/
Cargo.lock

# Emacs
*~
\#*\#
.\#*
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
\#*
*~
TAGS

# Old code
attic/
lib.long-type-*.txt

# Ignore nested analyses directories (keep src/analyses/ for top-level reports)
src/Chap*/analyses/
src/vstdplus/analyses/
src/experiments/analyses/
